name: mqtt-logger

on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'   # každou hodinu

jobs:
  mqtt_logger:
    runs-on: ubuntu-latest

    timeout-minutes: 65   # korektní ukončení jobu

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install paho-mqtt pytz

      - name: Run MQTT logger
        run: |
          python mqtt_logger.py

      - name: Upload CSV log
        uses: actions/upload-artifact@v4
        with:
          name: mqtt-csv
          path: mqtt_log_*.csv
